@using Microsoft.AspNet.Identity
@if (Session["UserId"] == null)
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            @*@Html.ActionLink("Inregistrare", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })*@
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            @Html.ActionLink("Log out", "LogOff", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>

}

